.title__cancun {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-yellow);
    border-radius: 20px;
    margin-top: 20px;
}

.content__cancun {
    display: flex;
}

.left__cancun {
    display: flex;
    width: 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.right__cancun {
    display: flex;
    width: 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
   
}

.left__content {
    width: 90%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px -3px rgba(0,0,0,0.1);
}

.right__content {
    width: 90%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px -3px rgba(0,0,0,0.1);
}

.services {
    width: 100%;
    text-align: center;
    color: var(--color-black);
}

.services h2 {
  font-size: 2rem;
  letter-spacing: 5px;
  margin: 20px auto;
  color: var(--color-black);
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 200;
 
}

.container__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    gap: 20px;
    width: 90%;
    height: 440px;
    margin: 0 auto;
    
}

.services__item {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 0px rgb(225, 225, 225);
  color: var(--color-black);
}


.uxui {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
}

.programing__web {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.ceo-sem {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.code-solid {
  width: 40px;
}

.pen-nib-solid {
  width: 35px;
}

.google {
  width: 35px;
}

.container__btn .btn {
  background-color: var(--color-white);
  padding: 10px 30px;
  border-radius: 10px;
  border: solid 2px var(--color-black);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;

}

.container__btn .btn:hover {
  background-color: var(--color-yellow);
  transform: scale(1.1);
  border: solid 2px var(--color-yellow);
}

.container__btn .btn:active {
  transform: scale(.9);

}

.slider {
  overflow: hidden;
}

.container__cancun p {
    margin: 10px 0;
}

.container__cancun h3 {
    padding: 5px 0;
    color: var(--color-orange);
}


.cancun img {
    width: 90%;
    height: 70%;
    margin: 0 auto;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .container__services {
        display: flex;
        height: 500px;
     
      
  }
  
    .services__item {
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 6px 0px rgb(225, 225, 225);
        color: var(--color-black);
    }
  
    .container__uxui {
     
    }
  
    .container__uxui {
  
    }
  
    .uxui {
      display: flex;
      width: 200px;
      margin: 0 auto;
      justify-content: space-between;
    }
  
    
    .container__programing-web {
  
    }
  
    .programing__web {
      display: flex;
      width: 260px;
      margin: 0 auto;
      justify-content: space-between;
    }
  
   
  
    .container__ceo-sem {
  
    }
  
    .ceo-sem {
      display: flex;
      width: 160px;
      margin: 0 auto;
      justify-content: space-between;
    }
  
    .slider-container {
      width: 100%;
      overflow: hidden;
    }
  
    .slide {
      width: 90%;
      margin: 0 auto;
      height: 300px; /* Ajusta la altura según tus necesidades */
      display: none;
    }
  
    .slide.active {
      display: block;
    }
  
    .slide:nth-child(1) {
      
    }
  
    .slide:nth-child(2) {
      
    }
  
    .slide:nth-child(3) {
      
    }

    

}

@media screen and (max-width: 576px) {
    .contenido-slider{
        flex-direction: column-reverse;
     }
 
     .contenido-slider > div{
         width: 80%;
     }
  
 
   .bx-chevron-left {
     color: #0505d0;
     font-size: 2rem;
     cursor: pointer;
   }
   .bx-chevron-right {
     color: #0505d0;
     font-size: 2rem;
     cursor: pointer;
 
   }
   
}

@media screen and (max-width: 400px) {
    
}