:root {
  --color-orange: #D93425;
  --color-yellow: #F2911B;
  --color-white: #f0f0f0;
  --color-blue: #3868A6;
}

* {
  padding: 0;
  margin: 0;
}

html {

}

body {
  font-family: 'Poppins', sans-serif;
}